[submodule "openembedded-core"]
	url = git://git.openembedded.org/openembedded-core
	branch = dunfell
	path = openembedded-core
[submodule "bitbake"]
	url = git://git.openembedded.org/bitbake
	branch = 1.46
	path = bitbake
